body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #111827;
  position: fixed;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo i {
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

.nav {
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
}

.nav:hover,
.nav.active {
  background: #38bdf8;
  color: black;
}

/* MAIN */
.main {
  margin-left: 270px;
  padding: 30px;
  width: 100%;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.skill-card {
  background: #1e293b;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

/* CONTACT */
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.contact-form button {
  background: #38bdf8;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.contact-info {
  margin-top: 20px;
}